@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  min-width: 363px;
}

.Dpad {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newGame {
  height: 60px;
  width: 120px;
  margin: 30px;
}

.closeGame {
  height: 60px;
  width: 120px;
  margin: 30px;
}

.moveButton {
  height: 60px;
  width: 60px;
  font-size: 1.5em;
  font-weight: 900
}

.box {
  width: 50px;
  height: 50px;
}

.spanBox {
  width: 50px;
  display: none;
  text-align: center;
}

#mainTable {
  display: flex;
  padding-top: 60px;
  justify-content: center;
  width: 100%;
}

#gOver {
  display: flex;
  justify-content: center;
  width: 100%;
}

.scoreDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0vh;
  color: rgb(5, 185, 5);
}

.fade-in-bottom {
  display: block;

  animation: fade-in-bottom 0.1s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-top {
  display: block;

  animation: fade-in-top 0.1s ease-in-out both;
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-left {
  display: block;

  animation: fade-in-left 0.1s ease-in-out both;
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-right {
  display: block;

  animation: fade-in-right 0.1s ease-in-out both;
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  display: block;

  animation: fade-in 0.1s ease-in-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}